/****************COLORS********************/
$white-default: #FFFFFF;
$col-text-primary: #2C4058;
$black-default: #000000;
$trade-center-substrate: #55B7FF;
$commerce-center-substrate: #7E5AFF;
$form-non-active: #4B5562;
/****************FONTS********************/
$font-primary: 'Open Sans';
$font-secondary: 'Montserrat';
$font-nav: 'Source Sans Pro';
/****************BREAKPOINTS********************/
$xl: 1599.98px;
$lg: 1023.98px;
$lg-max: $lg+1;
$md: 990.98px;
$sm: 767.98px;
$sm-max: $sm+1;
$xs: 374.98px;
$xs-max: $xs+1;

